.advantages {
  padding-top: 46px;
}

.advantages__heading {
  margin: auto;
  margin-bottom: 20px;

  @include font-light;
  color: $main-color;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.advantages__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.advantages__item {
  margin-bottom: 40px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 10px;

  @include font-bold;
  line-height: 24px;
  color: $black;
}

.advantages__description {
  margin: 0;

  @include font-regular;
  line-height: 24px;
}

.advantages__background {
  // position: relative;
  padding-top: 80px;
  background-color: $light-grey;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;
}

.advantages__image {
  margin: 0 auto;
}

.advantages__image--tablet,
.advantages__image--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__background {
    padding-top: 0;
  }

  .advantages__heading {
    width: 590px;
    margin-bottom: 0;
    font-size: 40px;
  }

  .advantages__heading--second-line {
    margin-bottom: 50px;
  }

  .advantages__wrapper {
    flex-direction: row;
  }

  .advantages__list {
    width: 308px;
    margin-top: 67px;
  }

  .advantages__title,
  .advantages__description {
    text-align: left;
  }

  .advantages__image--mobile,
  .advantages__image--desktop {
    display: none;
  }

  .advantages__image--tablet {
    display: block;
  }

  .advantages__image {
    order: -1;
    margin-right: 44px;
  }
}


@media (min-width: $desktop-width) {
  .advantages__heading--second-line {
    margin-bottom: 97px;
  }

  .advantages__wrapper {
    width: 938px;
  }

  .advantages__list {
    width: 905px;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__item {
    width: 240px;
  }

  .advantages__item:nth-child(1) {
    margin-left: 20px;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__image--tablet {
    display: none;
  }

  .advantages__image--desktop {
    display: block;
    margin: 0;
    margin-right: 20px;
  }

  .advantages__image--desktop:nth-child(3n) {
    margin-right: 0;
  }
}
