.button {
  width: 281px;
  padding-top: 16px;
  padding-left: 35px;
  padding-bottom: 13px;
  padding-right: 35px;
  text-decoration: none;

  @include font-bold;
  // line-height: 18px;
  color: $white;
  background: none;
  border: solid 3px $white;
  border-radius: 50px;
}
