.button {
  width: 281px;
  padding-top: 12px;
  padding-left: 39px;
  padding-bottom: 12px;
  padding-right: 40px;
  text-decoration: none;

  @include font-bold;
  line-height: 18px;
  color: $white;
  background: none;
  border: solid 3px $white;
  border-radius: 50px;
}
