.comment {
  width: 280px;
  margin-bottom: 20px;
  padding-left: 17px;
  padding-top: 25px;
  padding-right: 31px;
  padding-bottom: 28px;
  color: $main-color;
  background-color: $light-grey;
}

.comment--view-of-day {
  margin-left: 20px;
  margin-right: 20px;
}

.comment__author {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 14px;
}

.comment__time {
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 12px;
}

.comment__description {
  margin: 0;

  @include font-regular;
  line-height: 24px;
  text-align: left;
}

.comment__likes {
  margin: 0;
  font-size: 12px;
  color: $pink;
}
