.comment {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-left: 17px;
  padding-top: 25px;
  padding-right: 31px;
  padding-bottom: 28px;
  color: $main-color;
  background-color: $light-grey;
}

.comment__author {
  @include font-bold;
  font-size: 14px;
  text-align: left;
  font-style: normal;
}

.comment__time {
  @include font-light;
  font-size: 12px;
  text-transform: uppercase;
}

.comment__description {
  margin: 0;

  @include font-regular;
  line-height: 24px;
  text-align: left;
}

.comment__likes {
  @include font-regular;
  margin: 0;
  margin-left: 33px;
  font-size: 12px;
  text-align: left;
  color: $pink;
}

@media (min-width: $tablet-width) {
  .comment {
    width: 300px;
    min-height: 157px;
    padding-left: 27px;
    padding-top: 31px;
    padding-bottom: 30px;
  }

  .comment--view-of-day {
    position: relative;
    width: 620px;
    min-height: 121px;
  }

  .comment__likes {
    margin: 0;
    margin-top: auto;
  }

  .comment__likes--view-of-day {
    position: absolute;
    right: 59px;
    top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .comment--view-of-day {
    width: 940px;
    min-height: 96px;
    padding-top: 28px;
    padding-bottom: 24px;
  }
}
