.contest-form {
  display: flex;
  flex-direction: column;
}

.contest-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }

  &--bottom {
    align-items: center;
  }
}

.contest-form__input-container {
  margin-bottom: 44px;
}

.contest-form__input-label {
  padding-left: 21px;

  @include font-regular;
  text-align: left;
  color: $pink;
  text-transform: uppercase;
}

.contest-form__input {
  width: 276px;
  padding-left: 20px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 13px;

  @include font-regular;
  font-size: 18px;
  text-align: left;
  border: solid 2px $grey-border;
  outline: none;

  &--textarea {
    height: 197px;
  }

  &::placeholder {
    @include font-regular;
    font-size: 18px;
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .contest-form__item--name,
  .contest-form__item--bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contest-form__item--contacts {
    position: relative;
  }

  .contest-form__item--contacts::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 59px;
    height: 59px;
    background-color: $grey-border;
  }

  .contest-form__item--phone::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 59px;
    height: 59px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 20px 19px;
    background-position: center;
  }

  .contest-form__item--email::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 59px;
    height: 59px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-size: 18px 13px;
    background-position: center;
  }


  .contest-form__input-label {
    &--name {
      margin-right: 20px;
      padding: 0;
    }

    &--contacts {
      order: 1;
    }
  }

  .contest-form__input {
    flex-grow: 1;

    &--contacts,
    &--textarea {
      width: 496px;
    }

    &::placeholder {
      text-align: left;
    }
  }

  .contest-form__input-container {
    &--name {
      order: 1;
    }

    &--contacts {
      order: 3;
    }

    &--textarea {
      order: 5;
    }
  }

  .contest-form__item--bottom {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .contest-form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contest-form__input-container {
    &--name {
      width: 435px;
      margin-bottom: 64px;
    }

    &--contacts {
      width: 936px;
      margin-bottom: 48px;
    }

    &--textarea {
      width: 936px;
      margin-bottom: 69px;
    }
  }

  .contest-form__input {
    &--contacts {
      flex-grow: 0;
      width: 375px;
    }

    &--textarea {
      width: 816px;
    }
  }

  .contest-form__item--name {
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contest-form__item--bottom {
    width: 936px;
  }
}
