.container {
  width: 281px;
  margin: 0 auto;
}

.container--index-bg {
  width: 320px;
  height: 367px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: 258px 286px;
  background-position: bottom left;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 620px;
  }

  .container--index-bg {
    width: 660px;
    height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 660px 545px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 940px;
  }

  .container--index-bg {
    width: 960px;
    height: 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px 645px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}
