.contacts {
  padding-top: 50px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__heading {
  margin: 0 auto;
  margin-bottom: 44px;

  @include font-light;
}

.contacts__title {
  margin: 0;

  @include font-bold;
  color: $main-color;
}

.contacts__detail {
  margin: 0;

  @include font-light;
  color: $pink;
  text-decoration: none;
}

.contacts__container {
  margin-bottom: 28px;
}

.contacts__bg {
  position: relative;
  // height: 123px;
  // background-image: url("../../img/bg-triangle-white-footer.svg");
  // background-repeat: no-repeat;
  // background-size: 101% auto;
  // background-position: 50% 100%;
}

.contacts__bg::after {
  content: "";
  position: absolute;
  bottom: -180px;
  left: 50%;
  width: 600px;
  height: 123px;
  background-image: url("../../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.contacts__map {
  // position: absolute;
  display: block;
  margin: auto;
}

.contacts__map--image-tablet,
.contacts__map--image-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 43px;
    padding-right: 25px;
  }

  .contacts__heading {
    width: 370px;
    font-size: 40px;
  }

  .contacts__container:last-child {
    flex-grow: 1;
  }

  .contacts__map {
    margin-left: -40px;

    &--iframe {
      width: 700px;
      height: 320px;
    }

    &--image-mobile,
    &--image-desktop {
      display: none;
    }

    &--image-tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    &:first-child {
      order: -2;
    }

    &:last-child {
      flex-grow: 0;
      order: -1;
    }
  }

  .contacts__map {
    &--iframe {
      width: 1200px;
    }

    &--image-tablet {
      display: none;
    }

    &--image-desktop {
      display: block;
    }
  }
}
