.copyright {
  position: relative;
  min-width: 148px;
  margin: auto;
}

.copyright__logo {
  position: absolute;
  top: -10px;
  right: 0;
  fill: $pink;

  &:hover {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include font-regular;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin-top: 20px;
  }

  .copyright__text {
    font-size: 18px;
  }

  .copyright__logo {
    top: -6px;
    right: -16px;
  }
}
