.filter-icons {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .filter-icons {
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .filter-icons {
    margin: 0;
  }

  .filter-icons__item {
    margin-bottom: 25px;
  }
}
