.filter-icons {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .filter-icons {
    flex-direction: column;
  }
}
