.form__heading {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 49px;

  @include font-regular;

  &--mobile-hide {
    display: none;
  }
}

.form__note {
  display: block;
  width: 181px;

  @include font-regular;
  text-transform: uppercase;
}

.form__note sup {
  color: $pink;
}

.form__btn {
  display: block;
  width: 280px;
  min-height: 63px;
  margin-top: 52px;
  margin-bottom: 46px;
  padding-top: 12px;
  padding-bottom: 14px;
  line-height: 30px;
  background-color: $green;
  border-radius: 5px;
}

@media (min-width: $tablet-width) {
  .form__heading {
    width: 490px;
    font-size: 18px;

    &--mobile-hide {
      display: inline;
    }
  }

  .form__btn {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 30px;
  }

  .form__heading {
    width: 752px;
    margin-bottom: 89px;
  }

  .form__btn {
    margin: 0;
  }
}
