.form__heading {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 49px;

  @include font-regular;
}

.form__note {
  display: block;
  margin: auto;

  @include font-regular;
  text-transform: uppercase;
}

.form__note sup {
  color: $pink;
}

.form__btn {
  width: 276px;
  height: 59px;
  margin-top: 52px;
  margin-bottom: 46px;
  line-height: 30px;
  background-color: $green;
  border-radius: 5px;
}
