.logo {
  display: block;
}

.logo__logo-image--tablet,
.logo__logo-image--desktop,
.logo__footer-image--desktop {
  display: none;
}

.logo__footer {
  margin: auto;
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .logo__logo-image {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .logo__footer {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .logo__logo-image {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .logo__footer {
    margin: 0;
    margin-left: 2px;
  }

  .logo__footer-image {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
