.logo {
  display: block;
}

.logo__logo-image--mobile {
  margin-top: 22px;
}

.logo__logo-image--tablet,
.logo__logo-image--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo__logo-image--mobile {
    display: none;
  }

  .logo__logo-image--tablet {
    display: block;
    margin-top: 27px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    margin-top: 27px;
  }

  .logo__logo-image--mobile,
  .logo__logo-image--tablet {
    display: none;
  }

  .logo__logo-image--desktop {
    display: block;
    margin-top: 27px;
  }
}
