.main-background {
  height: 462px;
  // margin-bottom: 28px;
  padding-top: 95px;
  padding-bottom: 300px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: $main-color;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

}

.main-background--photo-page,
.main-background--form-page {
  height: 237px;
  padding-top: 101px;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .main-background {
    height: 729px;
    padding-top: 184px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px 729px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .main-background--photo-page,
  .main-background--form-page {
    height: 440px;
  }
}

@media (min-width: $desktop-width) {
  .main-background {
    height: 853px;
    padding: 0;
    padding-top: 218px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px 853px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .main-background--photo-page,
  .main-background--form-page {
    height: 394px;
    padding-top: 175px;
  }
}
