.main-nav {
  position: relative;
  // z-index: 1;
  width: $mobile-width;
  margin: 0 auto;

  @include font-bold;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 23px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  top: -45px;
  right: 20px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 3px;
  background-color: $white;
  box-shadow: 0 9px 0 0 $white, 0 18px 0 0 $white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $pink;
  box-shadow: 0 9px 0 0 $pink, 0 18px 0 0 $pink;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $light-pink;
  box-shadow: 0 9px 0 0 $light-pink, 0 18px 0 0 $light-pink;
}

.main-nav--opened .main-nav__toggle {
  top: -50px;
  right: 19px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    background-color: $light-pink;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--closed .main-nav__style-wrap {
    background-color: $main-light-heading;
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: $tablet-width;
  }

  .main-nav--opened .main-nav__toggle {
    top: -65px;
    right: 19px;
  }

  .main-nav--closed .main-nav__toggle {
    top: -56px;
    right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 100%;
  }

  .main-nav__toggle {
    display: none;
  }
}
