.main-nav {
  width: 100%;
  min-height: 69px;

  @include font-bold;
}

.main-nav__flex-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 69px;
}

.main-nav__style-wrap {
  box-shadow: 0 1px $black;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 23px;
  margin-top: 21px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 3px;
  background-color: $white;
  box-shadow: 0 9px 0 0 $white, 0 18px 0 0 $white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $pink;
  box-shadow: 0 9px 0 0 $pink, 0 18px 0 0 $pink;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $light-pink;
  box-shadow: 0 9px 0 0 $light-pink, 0 18px 0 0 $light-pink;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right:0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    background-color: $light-pink;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--closed .main-nav__style-wrap {
    background-color: $main-light-heading;
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__flex-wrap {
    min-height: 109px;
  }

  .main-nav__toggle {
    margin-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__style-wrap {
    display: none;
  }
}
