.offer-download {
  padding-top: 28px;
}

.offer-download__icon-list {
  @include list-reset;
}

.offer-download__description {
  @include font-light;
  font-size: 14px;
  line-height: 24px;
  color: $white;
}

.offer-download__icon {
  position: relative;
  width: 47px;
  height: 56px;
}

.offer-download__icon--apple::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 47px;
  height: 56px;
  background-image: url("../../img/logo-apple.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.offer-download__icon--android::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 43px;
  height: 47px;
  background-image: url("../../img/logo-android.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.offer-download__icon--windows::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 44px;
  height: 41px;
  background-image: url("../../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
