.offer-download {
  // min-height: 733px;
  // padding-bottom: 35px;
  background-color: $main-color;
}

.offer-download__slogan {
  width: 225px;
}

.offer-download__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 281px;
  // margin-top: 347px;
  margin-left: auto;
  margin-right: auto;
}

.offer-download__download-btn {
  margin-bottom: 32px;
}

.offer-download__image--tablet,
.offer-download__image--desktop {
  display: none;
}

.offer-download__icon-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  margin-bottom: 29px;
}

.offer-download__description {
  width: 230px;
  margin: 0;

  @include font-light;
  font-size: 14px;
  line-height: 24px;
  color: $white;
}

@media (min-width: $tablet-width) {
  .offer-download__slogan {
    width: 186px;
    margin: 0;
    margin-left: 58px;
    margin-bottom: 39px;
    font-size: 40px;
  }

  .offer-download__wrapper {
    width: 300px;
    margin: 0;
  }

  .offer-download__download-btn {
    width: 300px;
    margin-bottom: 46px;
  }

  .offer-download__icon-list {
    margin-bottom: 44px;
  }

  .offer-download__image--tablet {
    display: block;
    margin-top: -334px;
  }

  .offer-download__image--mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .offer-download__slogan {
    width: 231px;
    margin-left: 32px;
    margin-top: -10px;
    margin-bottom: 71px;
    font-size: 50px;
  }

  .offer-download__description {
    width: 300px;
    font-size: 18px;
  }

  .offer-download__download-btn {
    margin-bottom: 67px;
    padding-left: 0;
    padding-right: 0;
    font-size: 21px;
  }

  .offer-download__icon-list {
    margin-bottom: 60px;
  }

  .offer-download__image--desktop {
    display: block;
    margin-top: -344px;
  }

  .offer-download__image--mobile,
  .offer-download__image--tablet {
    display: none;
  }
}
