.page-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $main-light-heading;
}

.page-header__logo-wrap {
  display: flex;
  align-items: center;
  width: $mobile-width;
  min-height: 69px;
  margin: 0 auto;
  padding-left: 20px;
  box-shadow: 0 1px $black;
}

.page-header__logo-wrap--nav-opened {
  background-color: $main-color;
}

@media (min-width: $tablet-width) {
  .page-header__logo-wrap {
    width: $tablet-width;
    min-height: 109px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    flex-direction: row;
    width: 100%;
    min-height: 110px;
    background-color: $main-light-heading;
  }

  .page-header__wrapper {
    display: flex;
    width: 941px;
    margin: 0 auto;
  }

  .page-header__logo-wrap {
    width: 147px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
