.photo-list {
  @include list-reset;
}

.photo-list__item {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.photo-list__item--view-of-day {
  margin: 0;
}

.photo-list__item img {
  display: block;
}
