.photo-list {
  display: flex;
  flex-direction: column;

  @include list-reset;
  margin-bottom: 29px;
}

.photo-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.photo-list__item--view-of-day {
  position: relative;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 36px;
    background-color: $pink;
  }
}

.photo-list__item--view-of-day img {
  position: relative;
}

.photo-list__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .photo-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 54px;
  }

  .photo-list__item--view-of-day {
    width: 620px;

    &::after {
      top: 57px;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    margin-bottom: 10px;
  }

  .photo-list__item {
    margin-bottom: 50px;
  }

  .photo-list__item--view-of-day {
    width: 940px;

    &::after {
      top: 54px;
    }
  }
}
