.photo-filter__heading {
  margin: 0;
  margin-bottom: 48px;

  @include font-regular;
}

.photo-filter__background {
  background-color: $light-grey;
}

.photo-filter__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 41px;
}

.photo-filter__container {
  display: flex;
  flex-direction: column;
}

.photo-filter__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 42px;
}

.photo-filter__image--tablet,
.photo-filter__image--desktop {
  display: none;
}

.photo-filter__btn {
  width: 280px;

  &--post {
    margin-top: 38px;
    margin-bottom: 12px;
    color: $pink;
    border-color: $pink;
  }

  &--cancel {
    color: $main-light;
    border-color: $main-light;
  }

  &--edit {
    width: 44px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .photo-filter__heading {
    margin-bottom: 72px;
    font-size: 18px;
  }

  .photo-filter__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .photo-filter__image {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-filter__heading {
    margin-bottom: 65px;
  }

  .photo-filter__background {
    width: 940px;
    margin: 0 auto;
  }

  .photo-filter__wrapper {
    padding-left: 80px;
    padding-top: 57px;
    padding-right: 60px;
    padding-bottom: 57px;
  }

  .photo-filter__container {
    width: 410px;
  }

  .photo-filter__post-buttons {
    display: flex;
    width: 410px;
    justify-content: space-between;
    margin-top: auto;
  }

  .photo-filter__btn {
    &--post {
    width: 183px;
    margin: 0;
  }

    &--cancel {
      width: 183px;
    }
  }
}
