.price {
  position: relative;
  padding-top: 147px;
  padding-bottom: 51px;
  background-color: $light-grey;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;
}
