.price-list {
  @include list-reset;
  @include font-regular;
  text-align: left;
  text-transform: uppercase;
}

.price-list__details {
  width: 276px;
  margin: 0 auto;
}

.price-list__title {
  padding-top: 23px;
  padding-bottom: 21px;

  @include font-bold;
  color: $white;
  background-color: $main-color;
}

.price-list__price {
  @include font-light;
}

.price-list__content {
  background-color: $white;
  border: solid 2px $grey-border;
}

.price-list__content td {
  padding-left: 22px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 23px;
}
