.reviews {
  padding-top: 49px;
  font-family: "OpenSans Light", "Arial", sans-serif;
}

.reviews__list {
  @include list-reset;
}

.reviews__author-name {
  @include font-bold;
  font-style: normal;
  color: $black;
  line-height: 30px;
}

.reviews__text {
  @include font-regular;
}
