.reviews {
  margin-top: 49px;

  @include font-light;
  background-color: $white;
}

.reviews__list {
  @include list-reset;
}

.reviews__author-name {
  margin-bottom: 25px;

  @include font-bold;
  font-style: normal;
  color: $black;
  line-height: 30px;
}

.reviews__author-info {
  display: none;

  @include font-regular;
}

.reviews__text {
  @include font-regular;
}


@media (min-width: $tablet-width) {
  .reviews__text {
    margin-bottom: 44px;
    font-size: 18px;
  }

  .reviews__author-name {
    order: 2;
    margin: 0;
    font-size: 20px;
  }

  .reviews__author-info {
    display: inline;
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-top: 200px;
    margin-bottom: 105px;
  }

  .reviews__wrapper {
    position: relative;
  }

  .reviews__wrapper::before {
    content: "";
    position: absolute;
    top: -116px;
    left: 50%;
    width: 79px;
    height: 65px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-info {
    font-size: 18px;
  }

  .reviews__text {
    margin-bottom: 35px;
  }
}
