.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.site-list__item a {
  color: $white;
  text-decoration: none;
}

.site-list__item {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  line-height: 32px;
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    width: 621px;
    margin-left: 173px;
    margin-top: 22px;
  }
}
