.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.site-list__item a {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  line-height: 32px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 1px $black, inset 0 2px rgba(255, 255, 255, 0.15);
}

.site-list__item a[href] {
  &:hover {
    color: $pink;
  }

  &:active {
    color: $light-pink;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 621px;
    margin-left: 175px;
    margin-top: 22px;
  }

  .site-list__item a {
    width: auto;

    @include font-regular;
    font-size: 18px;
    color: $white;
    text-transform: none;
    box-shadow: none;
  }
}
