.site-list {
  @include list-reset;
}

.site-list__item a {
  color: $white;
  text-decoration: none;
}

.site-list__item {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  line-height: 32px;
}
