.user-review__item {
  display: none;
}

.user-review__item--active {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .user-review {
    width: 940px;
  }

  .user-review__item {
    width: 690px;
    margin: auto;
  }
}
