$main-color: #283645;
$light-grey: #f2f2f2;
$grey-border: #e5e5e5;
$grey-timer: #dedede;
$pink: #d22856;
$light-pink: rgba(#d22856, 0.3);
$green: #2aab6d;
$white: #ffffff;
$black: #000000;
$main-light: rgba(#283645, 0.1);
$main-light-heading: rgba(#000000, 0.3);
$icon-yes: #3dc644;
$icon-no: #f25b26;
