@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font-light {
  margin: 0;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 24px;
  text-align: center;
}

@mixin font-regular {
  margin: 0;
  font-family: "OpenSans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-color;
}

@mixin font-bold {
  margin: 0;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
}
