@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2"); }

.page-header {
  background-color: #283645; }

.main-nav {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff; }

.site-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.site-list__item a {
  color: #ffffff;
  text-decoration: none; }

.main-background {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: url("../../img/bg-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-color: #283645; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.page-main {
  font-family: "OpenSans Regular", sans-serif; }

.page-main__heading {
  font-family: "OpenSans Light", sans-serif;
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: #ffffff; }

.page-main__description {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #283645; }

.button {
  width: 281px;
  padding-top: 20px;
  padding-left: 39px;
  padding-bottom: 17px;
  padding-right: 40px;
  text-decoration: none;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: none;
  border: solid 3px #ffffff;
  border-radius: 50px; }

.offer-download {
  padding-top: 28px; }

.offer-download__icon-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.offer-download__description {
  font-family: "OpenSans Light", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #ffffff; }

.offer-download__icon {
  position: relative;
  width: 47px;
  height: 56px; }

.offer-download__icon--apple::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 47px;
  height: 56px;
  background-image: url("../../img/logo-apple.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.offer-download__icon--android::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 43px;
  height: 47px;
  background-image: url("../../img/logo-android.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.offer-download__icon--windows::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 44px;
  height: 41px;
  background-image: url("../../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.advantages {
  padding-top: 46px;
  font-family: "OpenSans Light", sans-serif; }

.advantages__heading {
  font-size: 24px;
  text-align: center;
  color: #283645; }

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.advantages__title {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000; }

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #283645; }

.advantages__background {
  position: relative;
  padding-top: 130px;
  background-color: #f2f2f2; }

.advantages__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat; }

.reviews {
  padding-top: 49px;
  font-family: "OpenSans Light", sans-serif; }

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.reviews__author-name {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: #000000; }

.reviews__text {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #283645; }

.photo-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.photo-list__item {
  display: block;
  margin-left: 20px;
  margin-right: 20px; }

.photo-list__item--view-of-day {
  margin: 0; }

.comment {
  width: 280px;
  margin-bottom: 20px;
  padding-left: 17px;
  padding-top: 25px;
  padding-right: 31px;
  padding-bottom: 28px;
  color: #283645;
  background-color: #f2f2f2; }

.comment--view-of-day {
  margin-left: 20px;
  margin-right: 20px; }

.comment__author {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 14px; }

.comment__time {
  font-family: "OpenSans Light", sans-serif;
  font-size: 12px; }

.comment__description {
  margin: 0;
  font-size: 14px;
  line-height: 1.71; }

.comment__likes {
  margin: 0;
  font-size: 12px;
  color: #d22856; }

.social__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.social__background {
  width: 46px;
  height: 46px;
  background-color: none;
  border: solid 3px rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  cursor: pointer; }

.social__background--twitter,
.social__background--facebook,
.social__background--youtube {
  position: relative; }

.social__background--twitter::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-image: url("../../img/icon-twitter.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.social__background--facebook::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 18px;
  background-image: url("../../img/icon-facebook.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.social__background--youtube::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-image: url("../../img/icon-youtube.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.page-footer {
  padding-top: 40px; }

.copyright__logo {
  position: relative;
  width: 148px; }

.copyright__logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 34px;
  background-image: url("../../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

/*# sourceMappingURL=style.css.map */
